@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --brown: #BC6C25;
    --light-brown: #DDA15E;
    --beige: #FEFAE0;
    --dark-black: #201f1f;
}

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--dark-black) 30%, var(--light-brown) 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
}

.bg-beige {
    background-color: var(--beige);
    padding: 5px;
}

.thead > tr > th {
    background-color: var(--beige) !important;
}

/* FUENTES TIPOGRÁFICAS */
.rocker {
    font-family: 'Rock Salt', cursive;
}

/* BOTONES */

.btn-primary {
    background-color: var(--dark-black);
    color: var(--beige);
}

.btn-primary:active, .btn-primary:hover {
    background-color: var(--dark-black) !important;
    color: var(--beige);
}

.redes {
    color: var(--beige);
    font-size: 1.5rem;
}

header > div {
    z-index: 1;
}


.banner {
    filter: brightness(0.7);
}

.portada-mujer {
    background-image: url(../assets/img/indumentaria-fem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;
    height: 100vh;
}

/* .portada {
    background-image: url(../assets/img/outfits-mujer/portada.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 50% top;
    height: 75vh;
} */

.portada-hombre {
    background-image: url(../assets/img/indumentaria-masc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42% top;
    height: 100vh;
}

/* .filtro-img {
    clip-path: polygon(0 70%, 57% -219%, 123% 120%);
} */

.card {
    border-radius: 0;
}

.card-info-producto {
    border-radius: 15px;
    margin-top: -2rem;
    z-index: 2;
    position: relative;
    padding: 12px;
    text-align: center;
}

.form-check-label:hover, .form-check-input:hover {
    cursor: pointer;
}

.form-check-input:checked {
    border-color: var(--dark-black);
    background-color:  #b8a004  ;
    color: var(--dark-black);
}

.form-check-input:focus {
    border-color: var(--dark-black);
    outline: 0;
    box-shadow: none;
}

.bg-dark{
    background:  rgb(58, 58, 58) !important;
}

/* Seccion "Sobre nosotros" */
.nosotros {
    background-color: var(--dark-black);
    color: var(--beige);
}

.titulo-nosotros {
    background-color: var(--beige);
    color: var(--dark-black);
    top: -10px;
    left: -30px;
}

.outfit-mujer {
    background-image: url(../assets/img/mujer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    height: 60vh;
    filter: saturate(1.2);
}

.outfit-hombre {
    background-image: url(../assets/img/hombre-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    height: 60vh;
}

/* Sección "Newsletter" */
.newsletter {
    background-color: var(--beige);
}

footer {
    background-color: var(--dark-black);
}

/* PRODUCTOS MUJER */
aside {
    top: 125px;
}